
/* 
    Created on : 20/03/2020, 20:33:07
    Author     : Daniel Sevilla i Junyent
*/


// Seria millor treballar amb @use i mòduls, però per ara ho farem així
@import 'parcials/colors';
@import 'parcials/generals';
@import 'parcials/barra-nav';
@import 'parcials/footer';
@import 'parcials/home';

section#alta-candidat, section#alta-empresa {
      a:not([href]) {
            cursor: pointer;
      }
}

.formulari-alta, .formulari-login {
      padding-top: 3rem;
      
      @media only screen and (min-width: 720px) {
            max-width: 50%;
      }
      
      form {
            padding-top: 1rem;
      }
      
}

#modalPrivacitat .modal-content {
      font-size: 0.9em;
}


section#motius, section#info, section#ofertes, section#oferta, section#ofertes-empresa, section#candidat {
      padding-top: 4rem;
}


section#ofertes {
      .card {
            margin-bottom: 1.8em;
            .card-title{
                  font-weight: 900;
                  margin-bottom: 0;
            }
            
            .card-body {
                  svg { margin-bottom: 0.1em; }
            }
      }
      
}


section#oferta, section#candidat {
      .card {
            background: $color-basic-gris-clar;
            border: none;
            margin-bottom: 1.5rem;
            
            .card-header { background: $color-basic-gris-clar; }
            
            .card-footer { padding: 1.25rem; }
            
            h1 {
                  font-size: 1.5em;
                  font-weight: 900;
                  margin-bottom: 0;
            }
            
            h4 {
                  font-size: 0.7em;
                  text-transform: uppercase;
                  color: $color-basic-blau-fosc;
                  
                  margin-bottom: 0;
                  
            }
            
            .col:last-of-type h4 {color: $color-basic-blau-clar;}
      }
      
      a {
            margin-right: 15px;
      }
      
      #llistat-candidatures {
            
            padding: 0;
            
            li {
                  background: inherit;
                  list-style-type: none;
                  
                  form {margin-bottom: 0;}
            }
            
            a p {margin: 0;}
      }
}


section#info {
      h3 {
            margin-bottom: 1em;
      }
      section {
            text-align: justify;
            
            &:not(:first-child) {
                  margin-top: 3em;
            }
      }
}

section#ofertes-empresa, #llistat-candidatures {
          
      .list-group-item {
            p {
               margin: 0;   
            }
            
            a { 
                  color: $color-basic-blau-fosc; 
                  
                  &:hover {
                        color: $color-basic-blau-clar;
                        text-decoration: none;
                  }
                  
                  &:first-of-type {
                        margin-right: 0.75em;
                        margin-bottom: 0.25em;
                        
                        svg {
                              width: 90%;
                              fill: $color-basic-blau-fosc;
                              -webkit-transition: ease-in 0.2s;
                              -moz-transition: ease-in 0.2s;
                              -o-transition: ease-in 0.2s;
                              transition: ease-in 0.2s;
                              
                              &:hover { 
                                    fill: $color-basic-blau-clar; 
                                    transform: scale(1.2);
                                    -webkit-transition: ease-in 0.2s;
                                    -moz-transition: ease-in 0.2s;
                                    -o-transition: ease-in 0.2s;
                                    transition: ease-in 0.2s;
                              }
                        }
                  }
            }
            
      }
  
}

#llistat-candidatures {
      margin-top: 1em;
}