/* 
    Created on : 20/04/2020, 07:08:58
    Author     : Daniel Sevilla i Junyent
*/

/* Amplades mínimes*/

$breakpoint-mini: 576px;
$breakpoint-petit: 768px;
$breakpoint-mitja: 992px;
$breakpoint-gran: 1200px;


