/* 
    Created on : 01/04/2020, 07:27:41
    Author     : Daniel Sevilla i Junyent
*/

//////////////////// Variables color /////////////////////////

$color-basic-blau-fosc: #1d70b7;
$color-basic-blau-clar: #2daae1;
$color-basic-blau-clar-rebaixat: lighten($color-basic-blau-clar,40%); 
$color-basic-gris-clar: #f5f5f5;
$color-basic-gris-clar-2: #eaeaea;
$color-basic-taronja: #e1642d;
$color-basic-taronja-rebaixat: lighten($color-basic-taronja,40%); 

$degradat-blaus: linear-gradient(90deg, rgba($color-basic-blau-fosc,1) 0%, rgba($color-basic-blau-clar,1) 100%);
$degradat-grisos-clars: linear-gradient(to bottom, $color-basic-gris-clar, $color-basic-gris-clar-2);

$color-groc-alerta: #fcf5b6;
$color-gris-text: #666;

$blanc: #fff;