/* 
    Created on : 01/04/2020, 07:27:41
    Author     : Daniel Sevilla i Junyent
*/

//////////////////// Regles aplicables al footer /////////////////////////

footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1.5em 0;
      background-color: $color-basic-gris-clar-2;
      font-size: 0.9em;
      text-align: center;
      
      div.container {
            display: table;
            
            div {
                  display: table-cell;
            }
            
            a {
                  color: $color-gris-text;
                  text-decoration: none;
                  
                  &:hover {
                        color: $color-basic-blau-clar;
                        text-decoration: none;
                  }
            }
      
      }
      
      .container *:not(:last-child):after {
            content: " | ";
            color: $color-gris-text;
      }
      
}