/* 
    Created on : 11/04/2020, 11:10:13
    Author     : Daniel Sevilla i Junyent
*/

.formulari-alta, .formulari-login {
      padding-top: 3rem;
      
      @media only screen and (min-width: $breakpoint-petit) {
            max-width: 50%;
      }
      
      form {
            padding-top: 1rem;
      }
      
}

#alta-candidat, #perfil-candidat {
      
      hr {
            width: 100%;
            border: none;
            height: 1px;
            margin: 0 15px 1em;
            background-color: $color-basic-blau-fosc;
      }
      
      #experiencia {
            
            button.btn-sm {
                  font-size: 0.8em;
                  padding: .1rem 0.3rem;
                  color: $color-basic-blau-fosc;
                  border-color: $color-basic-blau-fosc;

                  &:hover {
                        color: $blanc;
                        // border:none;
                        background-color: $color-basic-blau-fosc;
                  }
            }
            
            .item_experiencia {
                  
                  a.esborrar_item {
                        cursor: pointer;
                        margin-left: 15px;
                        &:hover {
                              color: $color-basic-blau-clar;
                        }
                  }
                  
                  div:not(:last-of-type) {
                        margin-bottom: 0.3em;
                  }
                  
                  &:not(:first-of-type) {
                        margin-top: 2em;
                        display: none;
                  }
            }
            
      }
      
}

#esborrar-empresa {
      margin-top: 4em;
      
      @media only screen and (min-width: $breakpoint-petit) {
            max-width: 50%;
      }
}

#avis_zero_items_exp {
      border-radius: 5px;
      margin-top: 1em;
      padding: 0.5em 0.8em;
      display:none; // Si cal em mostrarem amb jQuery
}
