/* 
    Created on : 01/04/2020, 07:27:41
    Author     : Daniel Sevilla i Junyent
*/

//////////////////// Classes generals per tot el projecte /////////////////////////

html {
  position: relative;
  min-height: 100%;
}

body {
      font-family: 'Montserrat', sans-serif;
      padding-bottom: 24em;
      color: $color-gris-text;
      
      background: url('../svg/base.svg');
      background-position: bottom center;
      background-repeat: no-repeat;
      -webkit-background-size: auto;
      -moz-background-size: auto;
      -o-background-size: auto;
      background-size: auto;
}

section.barra-ubicacio {
      background-color: $color-basic-gris-clar;
      padding: 1em 0;
      
      p { 
            font-weight: 900;
            color: $color-gris-text; 
            margin: 0;
      }
}


a {
      transition:all 0.3s ease;
}
      

.blau {
      color: $color-basic-blau-fosc;
}

.feedback_item {
      padding: 0.5em 0;
      margin: 0;
      border: none;
      
      .container div {
            position: relative;
            
            button { top: -50%; }
      }
}

.btn-primary {
      background: $color-basic-blau-fosc;
      
      &:hover {
            background: $color-basic-blau-clar;
            border-color: rgba($color-basic-blau-clar,0.3)
      }
}

.btn-warning {
      background: $color-basic-taronja;
      border-color: lighten($color-basic-taronja, 10%);
      color: $blanc;
      &:hover {
            color: $blanc;
            background: lighten($color-basic-taronja, 10%);
            border-color: lighten($color-basic-taronja, 20%);
      }
}

.badge-primary {
      background: $color-basic-blau-fosc;
}

.badge-secondary {
      background: $color-gris-text;
}

.badge-danger, .alert-danger {
      background-color: $color-basic-taronja;
}

.alert-primary {
      background-color: $color-basic-blau-fosc-rebaixat;
      color: $color-basic-blau-fosc;
}

.alert-danger {
      background-color: $color-basic-taronja-rebaixat;
      border-color: lighten($color-basic-taronja, 20%);
      color: $color-basic-taronja;
      
      h4{
            font-weight: 600;
      }
      
      hr {
            border-color: $color-basic-taronja;
            background-color: $color-basic-taronja;
      }
}

.wobble {
      
      &:hover, &:focus, &:active {
            
            svg {
                  -webkit-animation-name: hvr-wobble-horizontal;
                  animation-name: hvr-wobble-horizontal;
                  -webkit-animation-duration: 1s;
                  animation-duration: 1s;
                  -webkit-animation-timing-function: ease-in-out;
                  animation-timing-function: ease-in-out;
                  -webkit-animation-iteration-count: 1;
                  animation-iteration-count: 1;
            }
            
      }
      
}

/* Wobble Horizontal. Font: hover.css */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}