/* 
    Created on : 01/04/2020, 07:27:41
    Author     : Daniel Sevilla i Junyent
*/

//////////////////// Regles aplicables a la home /////////////////////////

.jumbotron {
      border-radius: 0 !important;
      
      background: -moz-linear-gradient(top, rgba($color-basic-blau-fosc,0.2) 0% , rgba($color-basic-blau-clar,0.5) 100%), url("../img/portatil.jpg") no-repeat;
      background: -webkit-linear-gradient(180deg, rgba($color-basic-blau-fosc,0.2) 0%, rgba($color-basic-blau-clar,0.5) 100%), url("../img/portatil.jpg") no-repeat;
      background: linear-gradient(180deg, rgba($color-basic-blau-fosc,0.2) 0%, rgba($color-basic-blau-clar,0.5) 100%), url("../img/portatil.jpg") no-repeat;
      background-blend-mode: multiply;
      background-size: cover;
      color: #fff;
      margin: 0;
}

#alertaHome {
      padding: 0.5em 0;
      margin: 0;
      background: $color-groc-alerta;
      border: none;
}

section#cta {
      background-color: $color-basic-gris-clar;
      padding: 3rem 0;
      
      p:last-of-type {
            margin-bottom: 0.25rem;
      }
      
      > div:not(:last-child) {
            margin-bottom: 1.5rem;
      }
      
      a svg {
            margin-bottom: 0.1em;
            -webkit-transition: ease-in 0.2s;
            -moz-transition: ease-in 0.2s;
            -o-transition: ease-in 0.2s;
            transition: ease-in 0.2s;
      }
                  
      a:hover svg {
             -ms-transform: translateX(5px);
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
                        
            -webkit-transition: ease-in 0.2s;
            -moz-transition: ease-in 0.2s;
             -o-transition: ease-in 0.2s;
              transition: ease-in 0.2s;
      }
      
}


section#motius {
      
      div[class^="col"] {
            margin-top: 3rem;
      }
      
      img {
            width: 2rem;
            
            transform: scale(1);
            -webkit-transition: ease-in 0.2s;
            -moz-transition: ease-in 0.2s;
            -o-transition: ease-in 0.2s;
            transition: ease-in 0.2s;
            
      }
      
      .col-lg-6:hover img {
            
                  transform: scale(1.3);
                  -webkit-transition: ease-in 0.2s;
                  -moz-transition: ease-in 0.2s;
                  -o-transition: ease-in 0.2s;
                  transition: ease-in 0.2s;
            
      }
      
      h5 {
            font-weight: 600;
      }
      
}